[loggers]
keys=root,zireaelLogger

[handlers]
keys=hand01

[formatters]
keys=zireaelFormatter

[logger_root]
level=DEBUG
handlers=hand01

[logger_zireaelLogger]
level=DEBUG
handlers=hand01
qualname=zireaelLogger
propagate=0

[handler_hand01]
class=FileHandler
level=DEBUG
formatter=zireaelFormatter
args=('./files/zireael.log', )

[formatter_zireaelFormatter]
format=[%(asctime)s][%(levelname)s] %(message)s
datefmt=%Y-%m-%d %H:%M:%S